html {
  height: 100%;
  width: 100%;
}
body {
       background-color: rgba(255,239,199,0.7);
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       font-family: Oxygen;
     }

h4 {
     margin-top: 100px;
     margin-bottom: 70px;
     font-size: 32px;
}

#canvas {
          width: 750px; 
          height: 880px; 
          border: 2px solid darkred;
        }

@media screen and (max-width: 800px){
  #canvas {
    width: 500px;
    height: 650px;
    border: 1.5px solid darkred;
  }
  h4 {
    margin-top: 70px;
    margin-bottom: 45px;
    font-size: 24px;
  }
}

@media screen and (max-width: 550px){
  #canvas {
    width: 350px;
    height: 500px;
    border: 1px solid darkred;
  }
  h4 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 16px;
  }
}

.bar {
       fill: darkred;
}
